@page "/auth/login"

@using System.ComponentModel.DataAnnotations
@using BlazorAuthNoIdentity
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims
@using Tudu.Application.DTOs
@using Tudu.Application.Interfaces
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IJSRuntime JS


<h3>Login</h3>

@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert @MessageClass">@Message</div>
}

<EditForm Model="@loginRequest" method="Post" OnValidSubmit="HandleLogin"  FormName="@LoginForm">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="loginRequest.UserName" class="form-control" />
        <ValidationMessage For="@(() => loginRequest.UserName)" />
    </div>

    <div class="mb-3">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="loginRequest.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => loginRequest.Password)" />
    </div>

    <button type="submit" class="btn btn-primary" disabled="@isLoading">
        @(isLoading ? "Signing..." : "Login")
    </button>
</EditForm>

@code {
    private const string LoginForm = "Login-Form";

    [SupplyParameterFromForm(FormName = LoginForm)]
    private LoginRequest loginRequest { get; set; } = new();

    [CascadingParameter]
    public HttpContext httpContext { get; set; } = default!;

     [SupplyParameterFromQuery]
    public string ReturnUrl { get; set; } = "/";

    const string AuthScheme = "tudu-auth";
    const string AuthCookie = "tudu-cookie";

    private string? Message;
    private string MessageClass = "alert-info";
    private bool isLoading = false;

    private async Task HandleLogin()
        {
        isLoading = true;
        Message = null;

        try
            {
            var result = await UserService.LoginAsync(loginRequest);

            if (result.Success)
                {

                LoggedInUserModel userModel = new LoggedInUserModel(result.Id, result.UserName);

                var claims = userModel.ToClaims();
                var identity = new ClaimsIdentity(claims, AuthScheme);
                var principal = new ClaimsPrincipal(identity);
                var authProperties = new AuthenticationProperties
                        {
                        IsPersistent = true
                        };
                await httpContext.SignInAsync(AuthScheme,principal,authProperties);
                NavigationManager.NavigateTo(ReturnUrl);

                MessageClass = "alert-success";
                Message = result.message + result.UserName ?? "Login success.";

               
                }
            else
            {
                // Show backend error as info (not validation error)
                Message = result.message ?? "Register First";
                MessageClass = "alert-warning";
            }
        }
        catch (Exception ex)
        {
            Message = $"Unexpected error: {ex.Message}";
            MessageClass = "alert-danger";
        }
        finally
        {
            isLoading = false;
        }
    }
}
